<!-- Table 'ns_panels' edit -->
<form action="?" method="post" enctype="multipart/form-data" name="frmEdit" class="form-horizontal">
    [#if OK#]
    <div class="alert alert-success"><#LANG_DATA_SAVED#></div>
    [#endif OK#]
    [#if ERR#]
    <div class="alert alert-danger"><#LANG_FILLOUT_REQURED#></div>
    [#endif ERR#]
    <fieldset>
        <!-- PANEL_CONFIG (varchar) -->
        <div class="form-group[#if ERR_PANEL_CONFIG#] has-error[#endif#]">
            <div class="col-lg-12">
                <div id='editor_holder'></div>
                <textarea id="panel_config" name="panel_config" rows="15"
                          class="form-control">[#PANEL_CONFIG#]</textarea>
            </div>
        </div>
        <div class="form-group">
            <div class="col-lg-offset-3 col-lg-4">
                <button type="submit" name="subm" id="submit" value="Submit" class="btn btn-primary"><#LANG_SUBMIT#>
                </button>
                <a href="?" class="btn btn-default "><#LANG_CANCEL#></a>
                &nbsp;&nbsp;&nbsp;&nbsp;
                <a href="?load_demo=1&view_mode=<#VIEW_MODE#>&id=<#ID#>&tab=<#TAB#>" class="btn btn-default"
                   onclick="return confirm('Are you sure? Please confirm.');">Set Demo config</a>
                <input type="hidden" name="id" value="<#ID#>">
                <input type="hidden" name="view_mode" value="<#VIEW_MODE#>">
                <input type="hidden" name="edit_mode" value="<#EDIT_MODE#>">
                <input type="hidden" name="tab" value="<#TAB#>">
                <input type="hidden" name="mode" value="update">
            </div>
        </div>
    </fieldset>
</form>

<!--#
<script src="https://cdn.jsdelivr.net/npm/@json-editor/json-editor@latest/dist/jsoneditor.min.js"></script>
<script type="text/javascript">
    JSONEditor.defaults.theme = 'bootstrap3';
    JSONEditor.defaults.iconlib = 'bootstrap3';

    var starting_schema = {
        type: "object",
        title: "Panel Config",
        properties: {
            locale: {
                title: "Locale",
                type: "string",
                enum: [
                    "ru_RU",
                    "en_US",
                ]
            },
            notifications: {
                title: "Notifications",
                description: 'Notifications config',
                type: "object",
                options: {
                    collapsed: true,
                },
                properties: {
                    minMsgLevel: {
                        title: "Min msg level",
                        type: "integer"
                    }
                }
            },
            power1: {
                title: "Power1",
                description: "Switch button 1 config",
                type: 'object',
                options: {
                    collapsed: true,
                },
                properties: {
                    linkedObject: {
                        title: 'Linked Object',
                        type: 'string'
                    }
                }
            },
            power2: {
                title: "Power2",
                description: "Switch button 2 config",
                type: 'object',
                options: {
                    collapsed: true,
                },
                properties: {
                    linkedObject: {
                        title: 'Linked Object',
                        type: 'string'
                    }
                }
            },
            screensaver: {
                title: 'Screen saver',
                description: 'Screen saver config',
                type: 'object',
                options: {
                    collapsed: true,
                },
                properties: {
                    timeout: {
                        title: 'Timeout',
                        description: 'Screensaver timeout (seconds)',
                        type: 'integer',
                        minimum: 0,
                    },
                    brightness: {
                        title: 'Brightness',
                        description: 'Screensaver brightness, %',
                        type: 'integer',
                        minimum: 0,
                        maximum: 100,
                    },
                    screenItems: {
                        title: 'Screensaver items',
                        description: '',
                        type: 'array',
                        format: 'table',
                        options: {
                            collapsed: true,
                        },
                        items: {
                            type: 'object',
                            title: 'Item',
                            properties: {
                                title: {
                                    title: 'Item title',
                                    type: 'string'
                                },
                                icon: {
                                    title: 'Icon',
                                    type: 'string',
                                },
                                iconOn: {
                                    title: 'Icon (On)',
                                    type: 'string',
                                },
                                iconColor: {
                                    title: 'Icon Color',
                                    type: 'string',
                                },
                                iconColorOn: {
                                    title: 'Icon Color (On)',
                                    type: 'string',
                                },
                                linkedObject: {
                                    title: 'Linked Object',
                                    type: 'string',
                                },
                                linkedProperty: {
                                    title: 'Linked Property',
                                    type: 'string',
                                },
                                value: {
                                    title: 'Value',
                                    type: 'string',
                                },
                            }
                        }
                    }
                }
            },
            pages: {
                title: 'Panel pages/screens',
                description: '',
                type: 'array',
                items: {
                    type: 'object',
                    properties: {
                        name: {
                            title: 'System name',
                            type: 'string',
                        },
                        title: {
                            title: 'Page Title',
                            type: 'string',
                        },
                        type: {
                            title: 'Type',
                            type: 'string',
                            enum: [
                                'cardEntities', 'cardGrid', 'cardThermo', 'cardAlarm', 'cardQR', 'cardPower'
                            ]
                        },
                        entities: {
                            title: 'Entities',
                            type: 'array',
                            items: {
                                type: 'object',
                                properties: {
                                    type: {
                                        title: 'Type',
                                        type: 'string',
                                        enum: [
                                            'switch','text','button','number'
                                        ]
                                    }
                                }
                            }
                        }
                    },
                }
            }
        }
    };

    var starting_value = {};
    var currentValue = $('#panel_config').val();
    if (currentValue != "") {
        starting_value = JSON.parse(currentValue);
    }


    // Initialize the editor with a JSON schema
    var editor = new JSONEditor(document.getElementById('editor_holder'), {
        schema: starting_schema,
        startval: starting_value,
        no_additional_properties: true,
        //required_by_default: true
    });
    //editor.setValue(starting_value, true);

    // Hook up the submit button to log to the console
    document.getElementById('submit').addEventListener('click', function () {
        // Get the value from the editor
        $('#panel_config').val(JSON.stringify(editor.getValue()));
    });

</script>
#-->